@page "/contract"
@using Merlion.Base.DataAnnotations
@using Merlion.Component.Pages
@using Merlion.Component.Controls

<PageLocation Title="@Loc["Contract"]"></PageLocation>
<Merlion.Component.Pages.SimplifiedDataGrid Items="Items">
    <FuncTemplate Context="context">
        @if (_accessService.HasPermissionAsync("ContractAddBtn").Result)
        {
            <MudButton Size="MudBlazor.Size.Small" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" OnClick="@(_=>context.ShowNewDialog("Create"))" Color="Color.Primary" Class="ma-1 pr-4">@Loc["New"]</MudButton>
        }
    </FuncTemplate>
    <ActionTemplate Context="context">
        @if (_accessService.HasPermissionAsync("ContractEditBtn").Result)
        {
            <MudIconButton Size="@MudBlazor.Size.Small" Icon="@Icons.Material.Filled.Edit" Color="Color.Primary"
                           OnClick="@(_ =>context.ShowEditDialog("Edit","Edit"))" />
        }
        @if (_accessService.HasPermissionAsync("ContractDeleteBtn").Result)
        {
            @if (context.DataModel.IsClosed)
            {
                <MudIconButton Size="@MudBlazor.Size.Small" Icon="@Icons.Material.Filled.DeleteOutline" Color="Color.Error"
                               OnClick="_=>DeleteContract(context)" />
            }
        }
    </ActionTemplate>
    <EditTemplate Context="editContext">
        <EditForm Model="editContext.DataModel" OnValidSubmit="_=>SaveContract(editContext)">
            <DataAnnotationsValidator />
            <MudText Typo="Typo.body2">@Loc["Code"]</MudText>
                <MudTextField Class="mb-4" @bind-Value="editContext.DataModel.Code" Disabled="@(editContext.OperationType=="Edit")" For="@(() => editContext.DataModel.Code)" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                < MudText Typo = "Typo.body2" > @Loc["Name"] </ MudText >
            <MudTextField Class="mb-4" @bind-Value="editContext.DataModel.Name" For="@(() => editContext.DataModel.Name)" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
            <MudSelect Class="mb-4" @bind-Value="editContext.DataModel.CustomerCode" For="@(() => editContext.DataModel.CustomerCode)" Variant="Variant.Outlined" Margin="Margin.Dense" Dense="true">
                @{
                    foreach (var ctmer in Customers)
                    {
                        <MudSelectItem Value="@(ctmer.Key)">
                            @ctmer.Value <MudElement Class="ml-4"
                                                     Style="color:var(--mud-palette-text-disabled);"
                                                     rel="noopener noreferrer">-  @ctmer.Key</MudElement>
                            </MudSelectItem>
                    }
                }
            </MudSelect>
            <MudText Typo="Typo.body2">@Loc["Signing Date"]</MudText>
                <MudExtDatePicker Class="mb-4" @bind-Date="editContext.DataModel.SigningDate" For="@(() => editContext.DataModel.SigningDate)" DateFormat="yyyy-MM-dd" PickerVariant="PickerVariant.Dialog" Orientation="Orientation.Landscape" Variant="Variant.Outlined" Margin="Margin.Dense"></MudExtDatePicker>
                <MudText Typo="Typo.body2">@Loc["Content InBrief"]</MudText>
                <MudTextField AutoGrow="true" Class="mb-2" @bind-Value="editContext.DataModel.ContentInBrief" For="@(() => editContext.DataModel.ContentInBrief)" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                @if (editContext.OperationType != "New")
            {
                <MudStack Row="true" Class="ml-n1 align-center">
                    <MudCheckBox T="bool" Dense="true" Size="Size.Small" Color="Color.Primary" @bind-Value="editContext.DataModel.IsClosed"></MudCheckBox>
                    <MudText Typo="Typo.body2" Style="user-select:none;" Class="ml-n2">@Loc["Is Closed"]</MudText>
                    </MudStack>

            }
            <div class="my-4 d-flex">
                <MudSpacer />
                <MudButton Variant="Variant.Filled" ButtonType="ButtonType.Button" Color="Color.Default" Class="px-10 mt-2 mr-2" OnClick="_=>editContext.CloseDialog()">@Loc["Cancel"]</MudButton>
                    <MudButton Variant="Variant.Filled" ButtonType="ButtonType.Submit" Color="Color.Primary" Class="px-10 mt-2">@Loc["Save"]</MudButton>
                </div>
            </EditForm>
        </EditTemplate>
    </Merlion.Component.Pages.SimplifiedDataGrid>