@page "/customer"
@using Merlion.Base.DataAnnotations
@using Merlion.Component.Pages

<PageLocation Title="@Loc["Customer"]"></PageLocation>
<Merlion.Component.Pages.SimplifiedDataGrid Items="Items">
    <FuncTemplate Context="context">
        @if (_accessService.HasPermissionAsync("CustomerAddBtn").Result)
        {
            <MudButton Size="MudBlazor.Size.Small" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" OnClick="@(_=>context.ShowNewDialog("Create"))" Color="Color.Primary" Class="ma-1 pr-4">@Loc["New"]</MudButton>
        }
    </FuncTemplate>
    <ActionTemplate Context="context">
        @if (_accessService.HasPermissionAsync("CustomerEditBtn").Result)
        {
            <MudIconButton Size="@MudBlazor.Size.Small" Icon="@Icons.Material.Filled.Edit" Color="Color.Primary"
                           OnClick="@(_ =>context.ShowEditDialog("Edit","Edit"))" />
        }
        @if (_accessService.HasPermissionAsync("CustomerDeleteBtn").Result)
        {
            <MudIconButton Size="@MudBlazor.Size.Small" Icon="@Icons.Material.Filled.DeleteOutline" Color="Color.Error"
                           OnClick="_=>DeleteCustomer(context)" />
        }
    </ActionTemplate>
    <EditTemplate Context="editContext">
        <EditForm Model="editContext.DataModel" OnValidSubmit="_=>SaveCustomer(editContext)">
            <DataAnnotationsValidator />
            <MudText Typo="Typo.body2">@Loc["Code"]</MudText>
            <MudTextField Class="mb-4" @bind-Value="editContext.DataModel.Code" Disabled="@(editContext.OperationType=="Edit")" For="@(() => editContext.DataModel.Code)" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                <MudText Typo="Typo.body2">@Loc["Name"]</MudText>
            <MudTextField Class="mb-4" @bind-Value="editContext.DataModel.Name" For="@(() => editContext.DataModel.Name)" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                <MudText Typo="Typo.body2">@Loc["Contacter"]</MudText>
            <MudTextField Class="mb-4" @bind-Value="editContext.DataModel.Contacter" For="@(() => editContext.DataModel.Contacter)" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                <MudText Typo="Typo.body2">@Loc["Contact"]</MudText>
            <MudTextField Class="mb-4" @bind-Value="editContext.DataModel.Contact" For="@(() => editContext.DataModel.Contact)" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                <MudText Typo="Typo.body2">@Loc["Address"]</MudText>
            <MudTextField Class="mb-4" @bind-Value="editContext.DataModel.Address" For="@(() => editContext.DataModel.Address)" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                <MudText Typo="Typo.body2">@Loc["Remark"]</MudText>
            <MudTextField Class="mb-4" AutoGrow @bind-Value="editContext.DataModel.Remark" For="@(() => editContext.DataModel.Remark)" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
             <div class="my-4 d-flex">
                 <MudSpacer />
                 <MudButton Variant="Variant.Filled" ButtonType="ButtonType.Button" Color="Color.Default" Class="px-10 mt-2 mr-2" OnClick="_=>editContext.CloseDialog()">@Loc["Cancel"]</MudButton>
                 <MudButton Variant="Variant.Filled" ButtonType="ButtonType.Submit" Color="Color.Primary" Class="px-10 mt-2">@Loc["Save"]</MudButton>
             </div>
         </EditForm>
     </EditTemplate>
 </Merlion.Component.Pages.SimplifiedDataGrid>

